<%= form_for @user do |f| %>
  <div class="clearfix">
    <%= f.label :email, 'Email' %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password, 'Password' %>
    <div class="input">
      <%= f.text_field :password %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation, 'Password-Confirmation' %>
    <div class="input">
      <%= f.text_field :password_confirmation %>
    </div>
  </div>

  <%= f.submit 'Save', :class => 'btn primary'%>
<% end %>
