<h1>Create a news item for feed '<%= @feed.name %>'</h1>

<%= form_for [@feed, @news_item] do |f| %>
  <div class="clearfix">
    <%= f.label :text, 'Text' %>
    <div class="input">
      <%= f.text_area :text %>
    </div>
  </div>

  <%= f.submit 'Save', :class => 'btn primary'%>
<% end %>
